 body {
     font-family: 'Open Sans', sans-serif;
     background-color: black;
 }
 
 #container {
     width: 1000px;
     height: 550px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bgImg.jpg);
     margin: 20px auto;
 }
 
 #calculator {
     width: 320px;
     height: 520px;
     background-color: #eaedef;
     /**centerthecalculatorhorizontally*/
     margin: 0 auto;
     /**giveaspacingfromthetop*/
     top: 20px;
     position: relative;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 #result {
     /**give the heights for the result and keyboard inputs */
     height: 120px;
 }
 
 #keyboard {
     height: 400px;
 }
 
 #history {
     /**align both text to the right and give it distinction from the rest of the output in color */
     text-align: right;
     height: 20px;
     margin: 0 20px;
     padding-top: 20px;
     font-size: 15px;
     color: #919191;
 }
 
 #output {
     /**align the text to the right  and give the height and margin section to make them different from the rest*/
     text-align: right;
     height: 60px;
     margin: 10px 20px;
     font-size: 30px;
 }
 /**style the keyboard numbers and operators2l */
 
 .operator,
 .number,
 .empty {
     width: 50px;
     height: 50px;
     margin: 15px;
     float: left;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-width: 0;
     font-weight: bold;
     font-size: 15px;
 }
 
 .number,
 .empty {
     background-color: #919191;
 }
 /**number styling to the cursor */
 
 .number,
 .operator {
     cursor: pointer;
 }
 /**making the pointer more attractive by styling */
 
 .operator:active,
 .number:active {
     /**when clicked by a cursor the pointer number becomes small */
     font-size: 13px;
 }
 /**set the cursor circle to 0 */
 
 .empty:focus,
 .number:focus,
 .operator:focus {
     outline: 0;
 }
 /**for every 4th element change the background-color and size */
 
 button:nth-child(4) {
     font-size: 20px;
     background-color: #20b2aa;
 }
 
 button:nth-child(8) {
     font-size: 20px;
     background-color: #ffa500;
 }
 
 button:nth-child(12) {
     font-size: 20px;
     background-color: #f08080;
 }
 
 button:nth-child(16) {
     font-size: 20px;
     background-color: #7d93e0;
 }
 
 button:nth-child(20) {
     font-size: 20px;
     background-color: #9477ef;
 }